body{
    background-color: rgb(198, 245, 252);
}

#prod_title {
    color: rgb(97, 94, 94);
}

#clear_check {
    margin: auto;
    padding-bottom: 100px;
}

.container {
    padding-top: 60px;
    font-family: 'Nunito', sans-serif;
}

nav {
    background-color: rgb(151, 238, 251);
}